@model IEnumerable<Domain.Entities.GraphSale>
@using WebUI.Helpers
@{
    ViewBag.Title = ViewBag.ContentTitle = "Текущее выполнение";
    List<string> lsHeaders = new List<string>();
    lsHeaders.Add(Html.DisplayNameFor(model => model.Dat).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Adres).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Good).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Num).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Plan).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Ld).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Fact).ToString());
    lsHeaders.Add("");
}
@Html.TableHeader(lsHeaders)
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dat)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.Centr)
            </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Good)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ld)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fact)
        </td>
        <td>
            @if ((item.Fact > 0) | (item.Ld > 0))
            {@Html.ActionLink("Подробно", "Details", new { id = item.GraphSaleId })}
        </td>
    </tr>
}
@Html.TableEnd()