@model Domain.Entities.OrderV
@{
    ViewBag.Title = "Выбор даты и времени заказа";
    ViewBag.ContentTitle = "Выберите дату и время заказа";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
}
@section Styles {
    @Styles.Render("~/content/datepicker")
}
@section metatags
{
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Title, АО 'АБЗ КАПОТНЯ'" />
    <meta name="robots" content="noindex, nofollow">
}

<script src="~/Scripts/jquery-3.0.0.min"></script>

<p>
    <b>Вы заказываете:</b>&nbsp;@Model.Good&nbsp;&nbsp;, ед.изм - @Model.Unit
</p>
<p>
    Выбор даты  выполнения заказа
</p>
    <input type="text" class="datepicker1 datepicker-here" data-position="right top" data-auto-close="true" data-onselect="function() { alert('ss');}" data-todaybutton="new Date()" />
    <script type="text/javascript">
        $('.datepicker1').datepicker({
            autoClose: true
        })
    </script>


    @*<input type="text" name="launch_date" value="2017-11-25" data-date-format="yyyy-mm-dd" class="form-control datepicker-here input-lg edited"  id="id_launch_date" placeholder=""/>
            <script type="text/javascript">
              $('#id_launch_date').datepicker({
               autoClose: true
            })
        </script>*@

</p>
<hr />
@using (Html.BeginForm("DatAdd", "DatSelect", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
{
    <fieldset>
        @Html.HiddenFor(model => model.OrderId)
    </fieldset>
    <div class="form-group row">
        <label for="DateExec" class="col-sm-2 col-form-label">Введите дату:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.DateExec, new { @class = "datepicker-here form-control datefield", @type = "text", @aria_describedby = "dateHelpBlock" })
            <script type="text/javascript">
                $('#DateExec').datepicker({
                    todayButton: new Date(),
                    autoClose: true,
                    minDate: new Date(),
                    onSelect: function (fd, d, picker) {
                        var dy = document.getElementById('gridRadios1'),
                            nt = document.getElementById('gridRadios2'),
                            btn = document.getElementById('btndatadd-next');

                        btn.setAttribute('disabled', null);

                        if (!d) {
                            return;
                        }
                        else {
                            if (dy.checked || nt.checked)
                                btn.removeAttribute('disabled');
                        }
                    }
                });

                function checkdate() {
                    var dat = document.getElementById('DateExec'),
                        dy = document.getElementById('gridRadios1'),
                        nt = document.getElementById('gridRadios2'),
                        btn = document.getElementById('btndatadd-next');

                    btn.setAttribute('disabled', null);

                    if (!dat.value) {
                        return;
                    }
                    else {
                        if (dy.checked || nt.checked)
                            btn.removeAttribute('disabled');
                    }
                };
            </script>
            <small id="dateHelpBlock" class="form-text text-muted">
                Выбор даты обязателен.
            </small>
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">выберите время суток выполнения заказа:</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.SmenaID, 1, new { @class = "form-check-input", @type = "radio", @name = "gridRadios", @id = "gridRadios1", @value = "1", @oninput = "checkdate();" })
                    <label class="form-check-label" for="gridRadios1">
                        день (06:00 - 19:00)
                    </label>
                </div>
                <div class="form-check">
                    @Html.RadioButtonFor(m => m.SmenaID, 2, new { @class = "form-check-input", @type = "radio", @name = "gridRadios", @id = "gridRadios2", @value = "2", @oninput = "checkdate();" })
                    <label class="form-check-label" for="gridRadios2">
                        ночь (19:00 - 06:00(след. день))
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <small class="form-text text-muted">
        * Обязательно укажите время суток выполнения заказа. Без этой информации заказ не будет создан.
    </small>
    <hr />
    <div class="form-group row">
        <label for="Note" class="col-md-3 col-lg-2 col-form-label">Дополнительная информация о времени и количестве заказанного товара:</label>
        <div class="col-md-9 col-lg-10">
            @Html.TextAreaFor(m => m.Note, new { @class = "form-control multi-line txtnote", @aria_describedby = "dateNoteBlock", @rows = "6", @wrap = "soft" })
            <small id="dateNoteBlock" class="form-text text-muted">
                Вы можете указать информацию о сроках выполнения заказа, о количестве товара с разбивкой по часам и т.п.
            </small>
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" id="btndatadd-next" class="btn btn-primary btn-success" disabled>Продолжить</button>
        </div>
    </div>
}