@model IEnumerable<Domain.Entities.Person>
@using WebUI.Helpers;
@{
    ViewBag.Title = ViewBag.ContentTitle = "Контакты";
}
<p>
    @Html.SmplBtn("add", "Создать новый контакт", "Создать", Url.Action("Create", "People").ToString())
</p>
@{
    List<string> lsHeaders = new List<string>();
    lsHeaders.Add(Html.DisplayNameFor(model => model.Name).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Tel).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Email).ToString());
    lsHeaders.Add("Управление");
}
@Html.TableHeader(lsHeaders)
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.SmplBtn("edit", "Редактировать контакт", null, Url.Action("Edit", "People", new { id = item.PersonId }).ToString())
            @Html.SmplBtn("detail", "Просмотр контакта", null, Url.Action("Details", "People", new { id = item.PersonId }).ToString())
            @Html.SmplBtn("delete", "Удалить контакт", null, Url.Action("Delete", "People", new { id = item.PersonId }).ToString())
        </td>
    </tr>
}
@Html.TableEnd()