@model WebUI.ModelView.GoodView
@{
    ViewBag.Title = "Выбор продукции";
    ViewBag.ContentTitle = "Выберите продукцию";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section metatags
{
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Title, АО 'АБЗ КАПОТНЯ'" />
    <meta name="robots" content="noindex, nofollow">
}
<nav class="nav nav-pills shadow product-category">
    @foreach (var item in Model.Categs)
    {
        <li class="nav-item">
            @Html.ActionLink(item.CategName+HttpUtility.HtmlDecode(item.CategID == 2 ? "&#9660;" : ""), "Categ", "Good", new { ord = Model.OrderID, categ = item.CategID }, new { @class = "nav-link"+ @Html.Encode(Model.CategID == item.CategID ? " active" : "")})
        </li>
    }
</nav>
@if (Model.SubCategs != null)
{
    <nav class="nav nav-pills mt-2 product-subcategory">
        @foreach (var item in Model.SubCategs)
        {
            <div class="nav-item">
                @Html.ActionLink(item.CategName, "Categ", "Good", new { ord = Model.OrderID, categ = item.ParentCategId, subcateg = item.CategID }, new { @class = "nav-link"+ @Html.Encode(Model.SubCategID == item.CategID ? " active" : "") }
           )
            </div>
        }
    </nav>
}
<table class="table table-bordered table-hover mt-3">
    <thead>
        <tr class="table-active">
            <th scope="col">Наименование продукции</th>
            <th scope="col">Ед. изм.</th>
            <th scope="col"><b>Заказать</b><br /><font size="2" color="#888">дробная часть - через запятую</font></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Goods)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.txt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td align="left">
                    @using (Html.BeginForm("GoodAdd", "Good"))
    {
                @Html.Hidden("GoodID", item.GoodID)
                @Html.Hidden("OrdID", Model.OrderID)
                //value="@Html.Encode(Model.Quantity == 0 ? null : Model.Quantity)"
                <input id="@Html.Encode("good"+item.GoodID.ToString())" type="text" name="Quantity"  placeholder="Укажите количество товара" pattern="\d+(,\d{0,3})?" autofocus autocomplete="off" required oninput="checkval(this.id);" onfocus="getfocus(this.id)" />
                <input id="@Html.Encode("btngood"+item.GoodID.ToString())" class="actionButtons btn btn-success" type="submit" value="Заказать >>" title="Заказать товар" disabled />
}
                </td>
            </tr>
            }
    </tbody>
</table>
<script type="text/javascript">
    function checkval(id) {
        var inp = document.getElementById(id);
        var btn = document.getElementById('btn' + id);

        if (inp != null && btn != null) {
            var val = parseFloat(inp.value.replace(/,/, '.')).toFixed(3);
            
            if (val > 0) {
                btn.removeAttribute('disabled');
            }
            else {
                btn.setAttribute('disabled',null);
            }

          //  inp.value = val.toString().replace('.',',');
        }
    };

    function getfocus(id) {
        var inp = document.getElementById(id);
        if (inp.value == inp.defaultValue) {
            inp.select();
        }
    };
</script>