@model Domain.ModelView.OrderView
@{
    ViewBag.Title = "Выбор даты и времени заказа";
    ViewBag.ContentTitle = "Выберите дату и время заказа";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section metatags
{
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Title, АО 'АБЗ КАПОТНЯ'" />
    <meta name="robots" content="noindex, nofollow">
}
@Model.Good
@using (Html.BeginForm("DatAdd", "Good", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
{
    <fieldset>
        @Html.HiddenFor(model => model.OrderId)
    </fieldset>
    <div class="form-group row">
        <label for="CDat" class="col-sm-2 col-form-label">Введите дату:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.CDat, new { @class = "datepicker-here form-control datefield", @type = "text", @aria_describedby = "dateHelpBlock" })
            <small id="dateHelpBlock" class="form-text text-muted">
                Выбор даты обязателен.
            </small>
        </div>
    </div>
    <div class="form-group row">
        <label for="CTime" class="col-sm-2 col-form-label">время заказа:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.CTime, new { @class = "form-control datefield", @type = "text" })
        </div>
    </div>
    <fieldset class="form-group">
        <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">или выберите время суток выполнения заказа:</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    @*<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>*@
                    @Html.RadioButtonFor(m => m.DayNight, 1, new { @class = "form-check-input", @type = "radio", @name = "gridRadios", @id = "gridRadios1", @value = "1" })
                    <label class="form-check-label" for="gridRadios1">
                        день (06:00 - 19:00)
                    </label>
                </div>
                <div class="form-check">
                    @*<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">*@
                    @Html.RadioButtonFor(m => m.DayNight, 2, new { @class = "form-check-input", @type = "radio", @name = "gridRadios", @id = "gridRadios2", @value = "2" })
                    <label class="form-check-label" for="gridRadios2">
                        ночь (19:00 - 06:00(след. день))
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
    <small class="form-text text-muted">
        * Обязательно укажите либо время заказа либо время суток выполнения заказа. Без этой информации заказ не будет создан.
    </small>
    <hr />
    <div class="form-group row">
        <label for="Note" class="col-sm-2 col-form-label">Дополнительная информация о времени и количестве заказанного товара:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Note, new { @class = "form-control", @type = "text", @aria_describedby = "dateNoteBlock" })
            <small id="dateNoteBlock" class="form-text text-muted">
                Вы можете указать информацию о сроках выполнения заказа, о количестве товара с разбивкой по часам и т.п.
            </small>
        </div>
    </div>
    <hr />
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary btn-success">Продолжить</button>
        </div>
    </div>
}
<script type="text/javascript">
    $('#CDat').datepicker({
        todayButton: new Date(),
        autoClose: true,
        minDate: new Date()
    })
</script>
