@model WebUI.Models.GoodList
@using WebUI.Helpers;
@{
    ViewBag.Title = Model.CategName + " | Заказать";
    ViewBag.ContentTitle = Model.CategName;
}


NOT WORK!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!




@if (Model.PageInfo.itemsCount > Model.PageInfo.pageSize)
{
    @Html.PageNavigatorInfo(Model.PageInfo)
}
<div class="table-responsive product-table-wrapper">
    @{ Html.RenderAction("CategoryMenu", "Good", new { menuName = ViewBag.MenuItem, menuId = ViewBag.MenuId }); }
    <table class="table table-bordered table-hover product-table">
        <thead>
            <tr>
                <th>Наименование продукции</th>
                <th>Ед. изм.</th>
                <th><b>Заказать</b><br />
                    <p><font size="2" color="#aaa">дробная часть - через запятую</font></p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.txt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td> 
                   <td align="left">
                        @using (Html.BeginForm("GoodAdd", "Good"))
                        {
                            @Html.Hidden("GoodID", item.GoodID)
                            @Html.Hidden("OrdID", Model.OrderID)
                            <input type="text" name="Quantity" value="@Html.Encode(Model.Quantity == 0 ? null : Model.Quantity)" @*size="2" width="100"*@ placeholder="Укажите количество товара"  pattern="\d+(,\d{0,3})?" autofocus required />
                            <input class="actionButtons btn btn-xs-sm btn-success" type="submit" value="Заказать" title="Заказать товар" />
                        }
                    </td>
                 </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.PageInfo.itemsCount > Model.PageInfo.pageSize)
{
    @Html.PageNavigatorBootStrap(Model.PageInfo, "Index", x => new { categId = Model.CategId, pageNum = x })
}