@model IEnumerable<Domain.Entities.Doc>
@using WebUI.Helpers;
@{
    ViewBag.Title = ViewBag.ContentTitle = "Документы";
    List<string> lsHeaders = new List<string>();
    lsHeaders.Add(Html.DisplayNameFor(model => model.DocName).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Dat).ToString());
    lsHeaders.Add(""); 
}
@Html.TableHeader(lsHeaders)
@foreach (var item in Model)
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DocName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dat)
    </td>
    <td>
        @Html.ActionLink("Скачать", "DownLoadFile", new { id = item.DocsId })
    </td>
</tr>
}
@Html.TableEnd()