@model IEnumerable<Domain.Entities.Trust>
@using WebUI.Helpers;
@{
    ViewBag.Title = ViewBag.ContentTitle = "Действующие доверенности";
}
@if (Model.Count() == 0)
{
    <h2>У вас нет действующих доверенностей!</h2>
}
else
{
    List<string> lsHeaders = new List<string>();
    lsHeaders.Add(Html.DisplayNameFor(model => model.Categ).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Good).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Txt).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Dend).ToString());
    @Html.TableHeader(lsHeaders)
    foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Good)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Txt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dend)
            </td>
        </tr>
    }
    @Html.TableEnd()
}