@model Domain.Entities.OrderV
@{
    ViewBag.Title = "Оформление заказа";
    ViewBag.ContentTitle = ViewBag.Order;
}
@section metatags
{
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Title, АБЗ-4" />
    <meta name="robots" content="noindex, nofollow">
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<h5>Вы заказываете:</h5>
@{Html.RenderAction("GoodOrder", "Good", new { ord = Model.OrderId });}
@{Html.RenderAction("DateOrder", "DatSelect", new { ord = Model.OrderId }); }
<div>
    <div class="form-group row">
        <label for="ordercontractinfo" class="col-sm-2 col-form-label">Договор:</label>
        <div class="col-sm-10" id="ordercontractinfo">
            <b>@Model.Contract</b>
        </div>
    </div>
    <hr />
</div>

@if (Model.Centr)
{
    <div>
        <div class="form-group row">
            <label for="orderadresinfo" class="col-sm-2 col-form-label">Адрес доставки:</label>
            <div class="col-sm-10" id="orderadresinfo">
                <b>@Model.Adres</b>
            </div>
        </div>
        <hr />
    </div>
}
else
{
    Html.RenderAction("TransOrder", "Transport", new { ord = Model.OrderId });
}

@if (Model.Invoice == 0)
{
    using (Html.BeginForm("PersonOrder", "People", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <fieldset>
            @Html.HiddenFor(model => model.OrderId)
        </fieldset>
        <div class="order-nodata">
            <div class="form-group row">
                <label for="ordercontactinfo" class="col-sm-2 col-form-label">Контактное лицо:</label>
                <div class="col-sm-10" id="ordercontactinfo">
                    @Html.DropDownList("SelectedPersonId", (SelectList)ViewData["Person"], new { onchange = "$(this.form).submit();" })
                </div>
            </div>
            <hr />
        </div>
    }
}



