@model Domain.Entities.OrderV
@using WebUI.Helpers
@{
    ViewBag.Title = ViewBag.ContentTitle = ViewBag.Order;
}
@section metatags
{
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="@ViewBag.Title, АБЗ-4" />
    <meta name="robots" content="noindex, nofollow">
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<h2>Ваш заказ:</h2>
<hr />
@{Html.RenderAction("GoodOrder", "Good", new { ord = Model.OrderId });}
@if (Model.Invoice == 0) { Html.RenderAction("DateOrder", "DatSelect", new { ord = Model.OrderId }); }
@{Html.RenderAction("ContractOrder", "Ord", new { ord = Model.OrderId });}
@{Html.RenderAction("TransOrder", "Transport", new { ord = Model.OrderId });}
@{Html.RenderAction("PersonOrder", "People", new { ord = Model.OrderId });}
@if (Model.Step > 3)
{
    using (Html.BeginForm("Booking", "Ord", FormMethod.Post, new { @id = "frmnote", @class = "form-horizontal order-nodata", @role = "form", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <fieldset>
            @Html.HiddenFor(model => model.OrderId)
        </fieldset>
        if (Model.Invoice == 1)
        {
            <div class="form-group">
                <label for="isOnlinePay" class="col-sm-2 col-form-label">Онлайн оплата:</label>
                <div class="col-sm-10 col-form-input">
                    @Html.CheckBoxFor(model => model.isOnlinePay, new { @class = "form-control checkbox" })
                </div>
            </div>
        }
        <div class="form-group row">
            <label for="Note" class="col-sm-2 col-form-label">Примечание к заказу:</label>
            <div class="col-sm-10 col-form-input">
                @Html.TextAreaFor(m => m.Note, new { @class = "form-control multi-line", @rows = "4", @aria_describedby = "noteHelpBlock", autofocus = true })
                <small id="noteHelpBlock" class="form-text text-muted">
                    * тут вы можете указать удобное для вас время доставки продукции и другие ваши пожелания
                </small>
            </div>
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-sm-10">
                @Html.SubmitBtn("Сохранить","Сохранить заказ")
            </div>
        </div>
    }
}
<script type="text/javascript">
    var trans = $('#frmtrans'),
        person = $('#frmperson'),
        note = $('#frmnote');

    //trans.addClass('order-nodata');
    //trans.addClass('d-none');
    person.addClass('d-none');
    note.addClass('d-none');

    checkorderitems();

    function checkorderitems() {
        //if (!$('#frmcontractadd').hasClass('order-nodata')) {
        //    trans.removeClass('d-none');
        //    trans.addClass('order-nodata');
        //};
        if (!$('#frmtrans').hasClass('order-nodata')) {
            $('#label-contract').innerHTML = 'Договор:';
            $('#label-contract').text('Договор:');
            person.removeClass('d-none');
            note.addClass('order-nodata');
        };

        if (!$('#frmperson').hasClass('order-nodata')) {
            note.removeClass('d-none');
        };
    };

    $(document).ready(function () {
   // $(document).load(function () {
        // $('.order-nodata')[0].focus();

        document.getElementsByClassName("order-nodata")[0].scrollIntoView();

       // window.scrollTo(0, el);

        //window.scrollTo(0, $(document).height());

      //  document.getElementsByClassName("order-nodata")[0].focus();
    });

    
</script>