@model Domain.Entities.OrderV
@if (Model.Step < 3)
{
    using (Html.BeginForm("Contract", "Ord", FormMethod.Post, new { @id = "frmcontractadd", @class = "form-horizontal", @role = "form", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <fieldset>
            @Html.HiddenFor(model => model.OrderId)
        </fieldset>
        <div class="form-group row">
            <label for="ContractId"  id="label-contract" class="col-sm-2 col-form-label">Выберите договор:</label>
            <div class="col-sm-10 col-form-input">
                @Html.DropDownList("SelectedContractId", (SelectList)ViewData["Contract"], new { onchange = "submitcontract();", @title="Выберите договор из списка", autofocus = true })
                <script type="text/javascript">
                    function submitcontract() {
                        $('#label-contract').innerHTML = 'Договор:';
                        $('#label-contract').text('Договор:');
                     //   $('#frmcontractadd').removeClass('order-nodata');
                        $(this.form).submit();
                        checkorderitems();
                    }
                </script>
            </div>
        </div>
    }
}
else
{
    <div class="frm-container">
        <h4 class="h4-grey">&nbsp;&nbsp;&nbsp;&nbsp;Договор</h4>
        <br />
        <div class="form-group row">
            <label for="ordercontractinfo" class="col-sm-2 col-form-label">Договор:</label>
            <div class="col-sm-10 col-form-input" id="ordercontractinfo">
                <b>@Model.Contract</b>
            </div>
        </div>
    </div>
}