@model IEnumerable<Domain.Entities.OrderV>

<p>
    @Html.ActionLink("Создать новый", "Create", new { act = ViewBag.Title },
                new
                {
                    @class = "actionButtons btn btn-default btn-success",
                    @role = "button",
                    @title = "Создать новый"
                })
</p>
<table align="center" class="table table-hover table-bordered table-grey-header">
    <thead>
        <tr>
            @if (ViewBag.Title == "Заказы")
            {
                <th>
                    № Заказа
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.DateExec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Good)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                Управление
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.Title == "Заказы")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.DateExec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Good)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contract)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @*@if (item.StatusId == 1)
                    {*@
                        @Html.ActionLink(HttpUtility.HtmlDecode("&#xe065;"), "Booking", new { ord = item.OrderId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Редактировать заказ" })
                        @Html.ActionLink(HttpUtility.HtmlDecode("&#xe020;"), "Delete", new { ord = item.OrderId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Удалить заказ" })
                    @*}*@
                    @Html.ActionLink(HttpUtility.HtmlDecode("&#xe224;"), "Copy", new { ord = item.OrderId }, new { @class = "actionButtons btn btn-xs-sm-md btn-default glyphicon glyph-btn", @role = "button", @title = "Копировать заказ" })
                </td>
            </tr>
        }
    </tbody>
</table>
