@model Domain.Entities.OrderV
@{
    ViewBag.Title = ViewBag.Order;
    //"Заявка №" + Model.OrderId + " отправлена";
}
@{Html.RenderAction("GoodOrder", "Good", new { ord = Model.OrderId });}
<div class="orderform-datetime disabled">
    <label for="Dat" class="col-sm-2 col-form-label">Дата и смена выполнения заказа:</label>
    <div class="form-group row disabled">
        <div class="col-sm-10">
            @{Html.RenderAction("DateOrder", "Ord", new { ord = Model.OrderId });}
        </div>
    </div>
    <hr />
</div>
<div class="orderform-contract active order-item">
    <div class="form-group row">
        <label for="ContractId" class="col-sm-2 col-form-label">Договор:</label>
        <div class="col-sm-10">
            @Html.DisplayFor(model => Model.Contract)
        </div>
    </div>
    <hr />
</div>
<div class="orderform-delivery order-item">
    @if (Model.Centr)
    {
        <div class="form-group">
            <label for="ContractId" class="col-sm-2 col-form-label">Адрес доставки:</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => Model.Adres)
            </div>
        </div>
    }
    else
    {
        Html.RenderAction("TransOrder", "Transport", new { ord = Model.OrderId });
    }
</div>
<div class="orderform-contact order-item">
    <div class="form-group row">
        <label for="ContactId" class="col-sm-2 col-form-label">Укажите контактное лицо:</label>
        <div class="col-sm-10">
            @Html.DisplayFor(model => Model.Person)
        </div>
    </div>
</div>
<p>
@if (Model.Invoice == 0 && Model.RelatedOrderId == null)
{
    @Html.ActionLink("Счет на оплату заявки", "CreateFrom", "Order", new { id = Model.OrderId }, null)
}

@if (Model.Invoice == 1 && Model.RelatedOrderId == null)
{
    @Html.ActionLink("Создать заказ на основании счета", "CreateFromInvoice", "Order", new { id = Model.OrderId }, null)
}
@Html.ActionLink("К списку", "Index")
</p>
<b>В ближайшее время, с вами  свяжутся.</b>