@model IEnumerable<Domain.Entities.UserAdmin>
@using WebUI.Helpers;
@{
    ViewBag.Title = ViewBag.ContentTitle = "Заказчики";
}
<h2>Заказчики привязанные к пользователю @ViewBag.User </h2>
<p>
    @Html.SmplBtn("add", "Добавить", "Добавить", Url.Action("FindUser", "Admin").ToString())
</p>
@{
    List<string> lsHeaders = new List<string>();
    lsHeaders.Add(Html.DisplayNameFor(model => model.FullName).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.SmalName).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Inn).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.LastDat).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.CustID).ToString());
    lsHeaders.Add("");
}
@Html.TableHeader(lsHeaders)
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustID)
        </td>
        <td>
            @Html.SmplBtn("delete", "Удалить заказчика", null, Url.Action("DelCust", "Admin", new { id = item.VUserInCustId }).ToString())
        </td>
    </tr>
}
@Html.TableEnd()
<div>
    @Html.SmplBtn("return", "Вернуться к списку пользователей", "вернуться к списку пользователей", Url.Action("Index", "Admin").ToString())
</div>