@model IEnumerable<Domain.Entities.UserAdmin>
@using WebUI.Helpers;
@{
    ViewBag.Title = ViewBag.ContentTitle = "Список пользователей";
}
<p>
    @Html.SmplBtn("add", "Создать нового пользователя", "Создать", Url.Action("Register", "Admin").ToString())
</p>
<table class="table table-bordered table-hover mt-3">
    <thead>
        <tr class="table-active">
            <th>
                @Html.ActionLink("Email(Имя входа)", "Index", new { sortOrder = "Email" })
            </th>

            <th>
                @Html.ActionLink("ID", "Index", new { sortOrder = "ID" })

            </th>
            <th>
                @Html.ActionLink("Кракое наименование", "Index", new { sortOrder = "SmalName" })
            </th>
            <th>
                @Html.ActionLink("ИНН", "Index", new { sortOrder = "Inn" })
            </th>
            <th>
                @Html.ActionLink("Последний вход на сайт", "Index", new { sortOrder = "LastDat" })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDat)
            </td>

            <td>
                @*@Html.ActionLink("Роли", "Role", new { id = item.UserId }) |*@
                @Html.ActionLink("Заказчики", "CustUser", new { id = item.UserId })  |  @Html.ActionLink("Личный кабинет", "Privat", new { id = item.UserId })
            </td>
        </tr>
    }
    </tbody>
</table>
