@model List<string>
@using WebUI.Helpers;
@{
    ViewBag.Title = ViewBag.ContentTitle = "Роли";
}
<h2>Роли пользователя @ViewBag.User</h2>
<p>
    @Html.SmplBtn("add", "Добавить роль", "Добавить роль", Url.Action("CreateRole", "Admin").ToString())
</p>
@{
    List<string> lsHeaders = new List<string>();
    lsHeaders.Add("Роль");
}
@Html.TableHeader(lsHeaders)
@foreach (var item in Model)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item)
        </td>
    </tr>
}
@Html.TableEnd()