@model WebUI.ModelView.TrancportView
@{
    ViewBag.Title = "Транспорт";
}
<h2>Транспорт</h2>
<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Гос. №
        </th>
        <th>
            Модель
        </th>
        @*<th>
            Водитель
        </th>*@
        <th></th>
    </tr>
    @foreach (var item in Model.Transports) 
    {
        <tr>
            <td>
                @Html.ActionLink(item.Gn, "Trans", new { id = item.Gn,ord =Model.OrderId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TecModel)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Driv)
            </td>*@
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id=item.Gn }) 
            </td>
        </tr>
    }
</table>
