@model WebUI.ModelView.TrancportView
@using WebUI.Helpers
@{
    ViewBag.Title = "Список транспорта";
    ViewBag.ContentTitle = "Транспорт";
}
<p>
    @Html.SmplBtn("add", "Добавить новый транспорт", "Добавить", Url.Action("Create", "Transport").ToString())
</p>
@{
    List<string> lsHeaders = new List<string>();
    lsHeaders.Add("Гос. №");
    lsHeaders.Add("Модель");
    lsHeaders.Add("");
}
@Html.TableHeader(lsHeaders)
@foreach (var item in Model.Transports)
{
    <tr>
        <td>
            @Html.ActionLink(item.Gn, "Trans", new { id = item.Gn, ord = Model.OrderId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TecModel)
        </td>
        <td>
            @Html.SmplBtn("edit", "Редактировать транспорт", null, Url.Action("Edit", "Transport", new { ord = item.Gn }).ToString())
        </td>
    </tr>
}
@Html.TableEnd()