@model IEnumerable<Domain.Entities.OrderDriv>
@using WebUI.Helpers
<div id="frmtrans">
    <p>
        @Html.SmplBtn("add", "Добавить новый транспорт", "Добавить", Url.Action("Index", "Transport", new { ord  = ViewBag.OrderId}).ToString())
    </p>
    @{
        List<string> lsHeaders = new List<string>();
        lsHeaders.Add(Html.DisplayNameFor(model => model.TecModel).ToString());
        lsHeaders.Add(Html.DisplayNameFor(model => model.Gn).ToString());
        lsHeaders.Add("Управление");
    }
    @Html.TableHeader(lsHeaders)
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TecModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gn)
            </td>
            <td>
                @Html.SmplBtn("edit", "Редактировать транспорт", null, Url.Action("Edit", "Transport", new { id = item.OrderDrivId }).ToString())
                @Html.SmplBtn("detail", "Подробнее", null, Url.Action("Details", "Transport", new { id = item.OrderDrivId }).ToString())
                @Html.SmplBtn("delete", "Удалить транспорт", null, Url.Action("Delete", "Transport", new { id = item.OrderDrivId }).ToString())
            </td>
        </tr>
    }
    @Html.TableEnd()
</div>
<script>
    $('#frmtrans').removeClass('order-nodata');
    checkorderitems();
</script>