@model WebUI.ModelView.AdresView
@using WebUI.Helpers;
@{
    ViewBag.Title = "Выбор адреса";
    ViewBag.ContentTitle = "Выберите адрес доставки";
}
@Html.ButtonAdd("Создать новый адрес", "Create", "Adres", "null")
@{
    List<string> lsHeaders = new List<string>();
    lsHeaders.Add("Адрес");
}
@Html.TableHeader(lsHeaders)
@foreach (var item in Model.Adres)
{
    <tr>
        <td>
            @Html.ActionLink(@item.txt, "SelectAdres", new { id = item.AdresID, ord = Model.OrderId }, new { @class = "dark-link" })
        </td>
    </tr>
}
@Html.TableEnd()