@model IEnumerable<Domain.Entities.Adres>
@using WebUI.Helpers;
@{
    ViewBag.Title = "Список адресов";
    ViewBag.ContentTitle = "Адреса";
}
@Html.ButtonAdd("Создать новый адрес", "Create", "Adres", "null")
@{
    List<string> lsHeaders = new List<string>();

    lsHeaders.Add(Html.DisplayNameFor(model => model.txt).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Rast).ToString());
    lsHeaders.Add("");
}
@Html.TableHeader(lsHeaders)
@foreach (var item in Model)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.txt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rast)
        </td>
        <td>
            <a class="btn btn-light" role="button" title="Подробнее" href="@Url.Action("Details", "Adres", new { id = item.AdresID })"><i class="fa fa-hand-point-up"></i></a>
        </td>
    </tr>
}
@Html.TableEnd()