@model IEnumerable<Domain.Entities.Adres>
@using WebUI.Helpers;
@{
    ViewBag.Title = "Список адресов";
    ViewBag.ContentTitle = "Адреса";
}
<p>
    @Html.SmplBtn("add", "Создать новый адрес", "Создать", Url.Action("Create", "Adres").ToString())
</p>
@{
    List<string> lsHeaders = new List<string>();

    lsHeaders.Add(Html.DisplayNameFor(model => model.txt).ToString());
    lsHeaders.Add(Html.DisplayNameFor(model => model.Rast).ToString());
    lsHeaders.Add("");
}
@Html.TableHeader(lsHeaders)
@foreach (var item in Model)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.txt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rast)
        </td>
        <td>
            @Html.SmplBtn("detail", "Подробнее", null, Url.Action("Details", "Adres", new { id = item.AdresID }).ToString())
        </td>
    </tr>
}
@Html.TableEnd()