﻿@using Microsoft.AspNet.Identity
@{
    string customer = "";
    string contract = "";
    string balance = "";
    HttpCookie cookie;

    if (ViewBag.customer != null)
    {
        customer = ViewBag.customer;
    }
    else
    {
        cookie = Request.Cookies["customer"];
        if (cookie != null)
        { customer = cookie.Value; }
    }

    if (ViewBag.contractn != null)
    {
        contract = ViewBag.contractn;
    }
    else
    {
        cookie = Request.Cookies["contract"];
        if (cookie != null)
        { contract = cookie.Value; }
    }

    if (ViewBag.balance != null)
    {
        balance = ViewBag.balance;
    }
    else
    {
        cookie = Request.Cookies["balance"];
        if (cookie != null) { balance = cookie.Value; }
    }

    string cookieName = "menuitem";
    cookie = Request.Cookies[cookieName];
    string menuactive = "";
    if (cookie == null)
    {
        cookie = new HttpCookie(cookieName, menuactive);
        Response.Cookies.Add(cookie);
    }
    else
    {
        menuactive = cookie.Value;
    }

    if (ViewBag.MenuItem != null && !string.IsNullOrEmpty(ViewBag.MenuItem))
    {
        menuactive = ViewBag.MenuItem;
        cookie = new HttpCookie(cookieName, menuactive);
        Response.Cookies.Add(cookie);
    }
    else
    {
        ViewBag.MenuItem = menuactive;
    }
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @RenderSection("metatags", false)
    <meta name="author" content="KADMII" />
    <title>@ViewBag.Title – Личный кабинет АО 'АБЗ КАПОТНЯ'</title>
    <link href="/images/favicon.ico" rel="shortcut icon" />
    @RenderSection("styles", false)
    @Styles.Render("~/content/css")
    @Styles.Render("~/content/maincss")
    @Styles.Render("~/content/fa")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark flex-lg-nowrap p-1 shadow header-wrapper">
            <a class="navbar-brand col-6 col-lg-2 mw-100 mr-0 logo-brand" href="https://personal.abz4.ru" title="Акционерное общество 'Асфальтобетонный завод 'Капотня' - Личный кабинет пользователя">
                <b>
                    А&nbsp;Б&nbsp;З&nbsp;
                    <img class="logotype d-inline" src="/images/logo.png" width="56" height="38" alt="Акционерное общество 'Асфальтобетонный завод 'Капотня' - Личный кабинет пользователя"
                         title="Акционерное общество 'Асфальтобетонный завод 'Капотня' - Личный кабинет пользователя">
                    &nbsp;<font color="orange">К&nbsp;А&nbsp;П&nbsp;О&nbsp;Т&nbsp;Н&nbsp;Я</font>
                </b>
            </a>
            @Html.Partial("_LoginPartial")
        </nav>
    </header>
    <div class="container-fluid">
        @if (Request.IsAuthenticated)
        {
            <div class="row">
                <div class="col-md-3 col-lg-2 navbar-container bg-dark sidebar">
                    <nav class="navbar navbar-expand-md navbar-dark mainmenu-wrapper">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" title="Меню пользователя">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mainmenu">
                            <ul class="mb-2 navbar-nav mainmenu-nav">
                                <li class="d-none d-md-flex justify-content-between align-items-center px-3 mt-2 mb-1 text-muted font-weight-bold sidebar-header"><span>ЛИЧНЫЙ КАБИНЕТ</span></li>
                                <li class="d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted sidebar-subheader"><span>Отгрузка и оплата</span></li>
                                @if (Context.User.IsInRole("Administrator"))
                                {
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "admin" ? "active" : "")">
                                    @Html.ActionLink("Администрирование", "Index", "Admin", null, new { @class = "nav-link" })
                                </li>
                                }
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "balance" ? "active" : "")"> 
                                    @Html.ActionLink("Взаиморасчеты", "Balance", "Balances", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "rst" ? "active" : "")">
                                    @Html.ActionLink("Реестр отгруженной продукции", "Index", "Balances", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "sale" ? "active" : "")">
                                    @Html.ActionLink("Текущее выполнение", "Index", "Sale", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "load" ? "active" : "")">
                                    @Html.ActionLink("Отправленные на погрузку", "Loadering", "Sale", null, new { @class = "nav-link" })
                                </li>
                                <li class="d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted sidebar-subheader"><span>Заявки</span></li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "ord" ? "active" : "")">
                                    @Html.ActionLink("Заказы продукции", "Index", "Ord", new { id = 0 }, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "ordch" ? "active" : "")">
                                    @Html.ActionLink("Заказы счетов", "Index", "Ord", new { id = 1 }, new { @class = "nav-link" })
                                </li>
                                <li class="d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted sidebar-subheader"><span>Ваша организация</span></li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "recv" ? "active" : "")">
                                    @Html.ActionLink("Реквизиты", "Index", "Home", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "trust" ? "active" : "")">
                                    @Html.ActionLink("Действующие доверенности", "Index", "Docs", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "contract" ? "active" : "")">
                                    @Html.ActionLink("Договоры", "Contract", "Docs", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "tec" ? "active" : "")">
                                    @Html.ActionLink("Доверенный транспорт", "Index", "TrustTecs", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "people" ? "active" : "")">
                                    @Html.ActionLink("Контакты", "Index", "People", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "adres" ? "active" : "")">
                                    @Html.ActionLink("Адреса", "Index", "Adres", null, new { @class = "nav-link" })
                                </li>
                                <li class="d-flex justify-content-between align-items-center px-3 mt-3 mb-1 text-muted sidebar-subheader"><span>Настройки</span></li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "pass" ? "active" : "")">
                                    @Html.ActionLink("Изменить пароль", "ChangePassword", "Manage", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "support" ? "active" : "")">
                                    @Html.ActionLink("Обращения, жалобы, предложения", "Index", "Support", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "info" ? "active" : "")">
                                    @Html.ActionLink("Рассылка документов", "Index", "CustomInfo", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item @Html.Encode(ViewBag.MenuItem == "chfact" ? "active" : "")">
                                    @Html.ActionLink("Счет-фактура", "SchFact", "Docs", null, new { @class = "nav-link" })
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <main role="main" class="col-md-9 col-lg-10 pt-4 pb-4 content-container">
                    @if (Request.IsAuthenticated)
                    {
                        <div class="form-control mw-100 w-100 h-auto mb-3 customer-info">
                            <span class="client-name">@customer</span>
                            <span>&nbsp;/&nbsp;</span>
                            <span class="client-contract">@contract</span>
                            <span>&nbsp;/&nbsp;</span>
                            <span class="client-balance"><i class="fas fa-coins"></i>&nbsp;Баланс:&nbsp;<b>@balance руб.</b></span>
                        </div>
                    }
                    <h1 class="h1">@ViewBag.ContentTitle</h1>
                    @RenderBody()
                </main>
            </div>
        }
        else
        {
            <div class="row justify-content-center align-items-center">
                <main role="main" class="col-8 col-lg-5 content-container">
                    @RenderBody()
                </main>
            </div>
        }
    </div>
    @if (Request.IsAuthenticated)
    {
        <footer class="d-print-none bg-dark m-0 pt-1">
            <div class="container text-center">
                <adress class="text-center vcard footer-info" itemscope itemtype="http://schema.org/Organization">
                    <span class="category d-none d-sm-inline-flex">Завод</span>&nbsp;<span class="fn org d-none d-sm-inline-flex" itemprop="name">АО "АБЗ КАПОТНЯ"</span>
                    <br class="d-none d-sm-inline-flex" />
                    <span class="adr d-none d-sm-inline-flex" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span class="locality" itemprop="addressLocality">г. Москва</span>,
                        <span class="street-address" itemprop="streetAddress">ул. Верхние Поля, д. 54</span>&nbsp;&nbsp;
                    </span>
                    <span class="tel">
                        <abbr class="value" title="+ 7 (495) 359-75-25" itemprop="telephone">(495) 359-75-25</abbr>&nbsp;&nbsp;&nbsp;<abbr class="value" title="+ 7 (495) 359-72-00" itemprop="telephone">(495) 359-72-00</abbr>&nbsp;&nbsp;
                    </span>
                    <a class="url" href="https://abz4.ru" title="https://abz4.ru" itemprop="url">https://abz4.ru</a>&nbsp;&nbsp;&nbsp;<a class="email" href="mailto:abz4@abz4.ru" title="abz4@abz4.ru" itemprop="email">abz4@abz4.ru</a>
                </adress>
            </div>
            <div class="container-fluid bg-light">
                <div class="container clearfix">
                    <p class="footer-copyright-info">
                        &copy;&nbsp;@DateTime.Now.Year.&nbsp;&nbsp;АО&nbsp;&quot;АБЗ КАПОТНЯ&quot;&nbsp;&nbsp;<span class="d-none d-sm-inline">Все права защищены.</span><label class="float-right">&#169;K&K Design</label>
                    </p>
                </div>
            </div>
        </footer>
    }
    <a id="totop" href="#top" title="Наверх" alt="Наверх"></a>
    <script type="text/javascript">
        var totopElem = document.getElementById("totop"),
            pageYLabel = 0;

        totopElem.onclick = function () {
            window.scrollTo(0, 0);
        };

        window.onload = function () {
            window.scrollTo(0, 0);
            totopElem.className = "d-none";
        };

        window.onscroll = function () {
            var n = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop,
                t = document.documentElement.clientHeight;

            n > t && (totopElem.classList.remove('d-none'));
            n < t && (totopElem.classList.add('d-none'));
        };
    </script>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>