<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @RenderSection("metatags", false)
    <meta name="author" content="KADMII" />
    <title>@ViewBag.Title – Личный кабинет АО 'АБЗ КАПОТНЯ'</title>
    <link href="/images/favicon.ico" rel="shortcut icon" />
    @RenderSection("styles", false)
    @Styles.Render("~/content/css")
    @Styles.Render("~/content/maincss")
    @Styles.Render("~/content/fa")
    @Scripts.Render("~/bundles/main")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark flex-lg-nowrap p-1 shadow header-wrapper">
            <a class="navbar-brand col-12 col-lg-2 mw-100 mr-0 logo-brand" href="https://personal.abz4.ru" title="Акционерное общество 'Асфальтобетонный завод 'Капотня' - Личный кабинет пользователя">
                <b>
                    А&nbsp;Б&nbsp;З&nbsp;
                    <img class="logotype d-inline" src="/images/logo.png" width="56" height="38" alt="Акционерное общество 'Асфальтобетонный завод 'Капотня' - Личный кабинет пользователя"
                         title="Акционерное общество 'Асфальтобетонный завод 'Капотня' - Личный кабинет пользователя">
                    &nbsp;<font color="orange">К&nbsp;А&nbsp;П&nbsp;О&nbsp;Т&nbsp;Н&nbsp;Я</font>
                </b>
            </a>
            @if (Request.IsAuthenticated)
            {@Html.Action("HeadMenu", "Home")}
            @Html.Partial("_LoginPartial", "md")
        </nav>
    </header>
    <div class="container-fluid">
        @if (Request.IsAuthenticated)
        {
            <div class="row">
                @{ Html.RenderAction("MainMenu", "Home", new { menuItem = ViewBag.MenuItem }); }
                <main role="main" class="col-md-9 col-lg-10 pt-4 pb-4 content-container">
                    <h1>@ViewBag.ContentTitle</h1>
                    @RenderBody()
                </main>
            </div>
        }
        else
        {
            <div class="row justify-content-center align-items-center">
                <main role="main" class="col-8 col-lg-5 content-container">
                    @RenderBody()
                </main>
            </div>
        }
    </div>
    @if (Request.IsAuthenticated)
    {
        <footer class="d-print-none bg-dark m-0 pt-1">
            <div class="container text-center">
                <adress class="text-center vcard footer-info" itemscope itemtype="http://schema.org/Organization">
                    <span class="category d-none d-sm-inline-flex">Завод</span>&nbsp;<span class="fn org d-none d-sm-inline-flex" itemprop="name">АО "АБЗ КАПОТНЯ"</span>
                    <br class="d-none d-sm-inline-flex" />
                    <span class="adr d-none d-sm-inline-flex" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span class="locality" itemprop="addressLocality">г. Москва</span>,
                        <span class="street-address" itemprop="streetAddress">ул. Верхние Поля, д. 54</span>&nbsp;&nbsp;
                    </span>
                    <span class="tel">
                        <abbr class="value" title="+ 7 (495) 359-75-25" itemprop="telephone">(495) 359-75-25</abbr>&nbsp;&nbsp;&nbsp;<abbr class="value" title="+ 7 (495) 359-72-00" itemprop="telephone">(495) 359-72-00</abbr>&nbsp;&nbsp;
                    </span>
                    <a class="url" href="https://abz4.ru" title="https://abz4.ru" itemprop="url">https://abz4.ru</a>&nbsp;&nbsp;&nbsp;<a class="email" href="mailto:abz4@abz4.ru" title="abz4@abz4.ru" itemprop="email">abz4@abz4.ru</a>
                </adress>
            </div>
            <div class="container-fluid bg-light">
                <div class="container clearfix">
                    <p class="footer-copyright-info">
                        &copy;&nbsp;@DateTime.Now.Year.&nbsp;&nbsp;АО&nbsp;&quot;АБЗ КАПОТНЯ&quot;&nbsp;&nbsp;<span class="d-none d-sm-inline">Все права защищены.</span><label class="float-right">&#169;K&K Design</label>
                    </p>
                </div>
            </div>
        </footer>
    }
    <a id="totop" href="#top" title="Наверх" alt="Наверх"></a>
    <script type="text/javascript">
        var totopElem = document.getElementById("totop"),
            pageYLabel = 0;

        totopElem.onclick = function () {
            window.scrollTo(0, 0);
        };

        window.onload = function () {
            window.scrollTo(0, 0);
            totopElem.className = "d-none";
        };

        window.onscroll = function () {
            var n = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop,
                t = document.documentElement.clientHeight;

            n > t && (totopElem.classList.remove('d-none'));
            n < t && (totopElem.classList.add('d-none'));
        };
    </script>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>