@model Domain.ModelView.BalanceView
@using WebUI.Helpers;
@{
    ViewBag.Title = "Взаиморасчеты";
}
<h5 class="h2-grey">Ваши документы</h5>
<p>
    @Html.ActionLink("Документы, счета-фактуры, отправка", "Doc", "Docs", null, new { @class = "nav-link" })
</p>
<hr />
<br />
<h2>
    Выверенный остаток  по договору № <strong>@Html.DisplayFor(model => model.Contract) </strong>
    на  <font color="red">@Html.DisplayFor(model => model.Fin.Dat)</font> равен
    <strong>@Html.DisplayFor(model => model.Fin.Sm) руб.</strong>
</h2>
<br />
@if (Model.Fin.Sm == 0)
{<h3>Проверьте выбор договора в -Профиль->Реквизиты</h3>}
<br>
@if (Model.Balances.Count > 0)
{
    List<string> lsHeaders = new List<string>();

    lsHeaders.Add("Дата");
    lsHeaders.Add("Кол-во");
    lsHeaders.Add("Отгружено (Руб)");
    lsHeaders.Add("Платежи (Руб)");

    @Html.TableHeader(lsHeaders)

    foreach (var item in Model.Balances)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kol)
            </td>
            <td id="sale">
                @Html.DisplayFor(modelItem => item.Ssm)
            </td>
            <td id="pay">
                @Html.DisplayFor(modelItem => item.Psm)
            </td>
        </tr>
    }
    <tr style="background-color:#e7e7e7;font-weight:bold;">
        <td>
            Итого за период
        </td>
        <td>
            @Html.DisplayFor(model => model.kol)
        </td>
        <td id="sale">
            @Html.DisplayFor(model => model.Ssm)
        </td>
        <td id="pay">
            @Html.DisplayFor(model => model.Psm)
        </td>
    </tr>
    @Html.TableEnd()
}
