@model Domain.Entities.Balance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Balance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ssm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ssm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Psm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Psm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Dat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
