@using WebUI.Helpers
@model WebUI.Models.TtnList



<style>
    .kol, .activekol {
        border: none;
        width: 90px;
    }
    .activekol, .resultkol {
        background-color: yellow;
        font-weight: bold;
     }
</style>




@if (Model.Ttns.Any())
{
<div id="selectttn">
    <p>
        <br />
        <a href="@Url.Action("Export")" class="btn btn-light" role="button" title="Скачать реестр в Excel">
            <i class="fa fa-file-download"></i>&nbsp;&nbsp;скачать реестр в Excel
        </a>
    </p>
    @Html.PageSelectNRecByPage(Model.PageInfo.pageSize)




    <div class="clearfix">
        <div class="pull-left null-margin null-padding">
            <span><b>Количество всего:</b></span><br />
            <input class="resultkol" type="text" value="0" />
            <p class="help-block">
                * чтобы вычислить сумму по столбцу "Кол-во" проставьте/снимите "галочки" в первом столбце
            </p>
        </div>
        <div class="pull-right null-margin null-padding">
            <input type="button" value="Отметить все записи" onclick="JavaScript: checkall(this);" />
        </div>
    </div>


    <div class="table-responsive product-table-wrapper">
        <table class="table table-bordered table-hover mt-3">
            <thead>
                <tr class="table-active">
                    <th>V</th>
                    <th>№</th>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Продукция</th>
                    <th>Адрес</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                    <th>Автомобиль</th>
                    <th>Автобаза</th>
                    <th>Гос. №</th>
                    <th>Водитель</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Ttns)
        {
            <tr>
                <td><input type="checkbox" onchange="JavaScript: chg(this);" class="chv" /></td>
                <td>@Html.DisplayFor(modelItem => item.Num)</td>
                <td>@Html.DisplayFor(modelItem => item.Dat)</td>
                <td>@Html.DisplayFor(modelItem => item.Tm)</td>
                <td>@Html.DisplayFor(modelItem => item.Good)</td>
                <td>@Html.DisplayFor(modelItem => item.Adres)</td>
                <td>@Html.TextBoxFor(modelItem => item.Kol, new { @class = "kol", @readonly = "", @id = "" })</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Sm)</td>
                <td>@Html.DisplayFor(modelItem => item.Amodel)</td>
                <td>@Html.DisplayFor(modelItem => item.Ab)</td>
                <td>@Html.DisplayFor(modelItem => item.Gn)</td>
                <td>@Html.DisplayFor(modelItem => item.Driv)</td>
            </tr>
}
            </tbody>
        </table>
        <p>
            <span><b>Количество всего:</b></span><br />
            <input class="resultkol" type="text" value="0" />
        </p>
    </div>
    @if (Model.PageInfo.itemsCount > Model.PageInfo.pageSize)
    {
        @Html.PageNavigatorBootStrap(Model.PageInfo, "Index", x => new { pageNum = x })
    }
</div>
}
else
{
    <div id="selectttn"><h2>Нет данных за выбранный период!</h2></div>
}
@Scripts.Render("Scripts/cookies.js", "Scripts/pagecalc.js")