@model Domain.Entities.Comment
@using WebUI.Helpers
@{
    ViewBag.Title = ViewBag.ContentTitle = "Сообщение";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <h2>Отзыв, предложение, жалоба</h2>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Note, new { @class = "form-control multi-line", @rows = "3" })
        </div>
        <div>
            <hr />
            @Html.SmplBtn("return", "Вернуться к списку сообщений", "вернуться к списку сообщений", Url.Action("Create", "Support").ToString())
            &nbsp;&nbsp;&nbsp;
            @Html.SubmitBtn("Отправить")
        </div>
    </fieldset>
}
